$global-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;


$breakpoint-mobile: 960px;
$breakpoint-stack: 530px;

// $nike: rgb(94, 230, 237);
// $nike: rgb(95, 175, 255);
$nike: rgb(70, 138, 180);
// $light: rgb(204, 204, 204);
// $dark: rgb(26, 26, 26);
$light: rgb(105, 105, 105);
$dark: rgb(250, 250, 250);
// $dark: rgb(245, 245, 245);
$map-box-line-color:rgb(71, 184, 224)
